

.venkat{
    font-weight: 700;
    font-size: 70px;
    letter-spacing: 5px;
    color: rgb(248, 252, 4);
}
.myimage{
    filter: drop-shadow(10px 10px 10px black);
    width: 70%;

}
.sub-head{
    font-size: xx-large;
    font-style: italic;
   
}
.hire{
    width: 600px;
    height: 50px;
    border-radius: 10px;
    background-color: transparent;
    color: rgb(248, 252, 4) ;
    transition: 1s;
    font-size: 30px;
    letter-spacing: 2px;
    
}
.hire:hover{
    background-color: rgb(248, 252, 4);
    color: black;
}
/* .message{
    width: 150px;
    padding: 5px;
    border-radius: 10px;
    color: white;
    background-color: #00b2ff;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 2px;
} */

.show {
    letter-spacing: 2px;
}
.poly{
   position: relative;
}
.poly::before{
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(geo.png) no-repeat center center;
    background-size: cover;
    filter: blur(40px); 
    opacity: 0.9;
    z-index: -1;

}

.circle {
    width: 200px;
    height: 200px;
    background: linear-gradient(135deg, rgb(21, 92, 68), rgb(32, 121, 107), rgb(131, 178, 153));
    border-radius: 50%;
    font-weight: 400;
    font-size: 20px

}

.navi{
    text-decoration: none;
    color: white;
}
.img{
    position: relative;
}
.img::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(bck1.png) no-repeat  center;
    background-size: cover;
    filter: blur(20px); 
    opacity: 0.9;
    z-index: -1;
}
